.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/*--- RESPONSIVE  TABLET---*/
@media screen and (min-width: 768px) {

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 100%;
  }
  #lezioni{
    margin-top:0px;
    background-color: #F2F2CD;
  }
  .right{
    margin-bottom: 20px;
  }
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
  }
  #steps{
    background-color: white;
  }
  #why{
    background-color: #F2F2CD;
  }
  #why .row>.first,
  #why .row>.second,
  #why .row>.third{
    margin-top: 0;
  }
  .third{
    margin-bottom: 20px;
  }
  
  img{
    height: 150px;
  }

  .row{
    margin-top: 0;
    width: 90%;
  }

  .left > img{
    margin-top: 30px;
  }
  .right > img{
    margin-top: 30px;
  }
  .central > img{
    margin-top: 30px;
  }
  .first > img{
    margin-top: 30px;
  }
  .second > img{
    margin-top: 30px;
  }
  .third > img{
    margin-top: 30px;
  }
  h1{
    padding-top: 30px;
  }
  hr{
    color: black;
    border-bottom: 2px solid black;
  }
}

/*--- RESPONSIVE  SMARTPHONE---*/

@media screen and (min-width: 420px) {
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#lezioni .row>.left,
#lezioni .row>.right {
  float: none;
  width: 100%;
}
#lezioni{
  margin-top:0px;
  background-color: #F2F2CD;
}
.right{
  margin-bottom: 20px;
}

#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: none;
  width: 100%;
}
#steps{
  background-color: white;
}
#why{
  background-color: #F2F2CD;
}
#why .row>.first,
#why .row>.second,
#why .row>.third{
  margin-top: 0;
}
.third{
  margin-bottom: 20px;
}

img{
  height: 150px;
}
/* #steps > .row , #why > .row{
  margin-top: 0;
} */
.row{
  margin-top: 0;
  width: 90%;
}

.left > img{
  margin-top: 30px;
}
.right > img{
  margin-top: 30px;
}
.central > img{
  margin-top: 30px;
}
.first > img{
  margin-top: 30px;
}
.second > img{
  margin-top: 30px;
}
.third > img{
  margin-top: 30px;
}
h1{
  padding-top: 30px;
}
hr{
  color: black;
  border-bottom: 2px solid black;
}
